@import 'variables';

.animation {

    &-rotate {
        animation: rotate 45s  linear infinite;
    }

    &-top-right {
        animation: top-right 7.5s ease-in-out infinite;
    }

    &-bottom-left {
        animation: bottom-left 7.5s ease-in-out infinite;
    }

}

@keyframes rotate {

    from {        
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);    
    }
    
}

// @keyframes top-right {
//     0% {
//         top: -40%;
//         right: -30%;
//     }

//     50% {
//         top: -35%;
//         right: -25%;
//     }

//     100% {
//         top: -40%;
//         right: -30%;
//     }
// }

@keyframes top-right {
    0% {
        top: -100%;
        right: -75%;
    }

    50% {
        top: -85%;
        right: -70%;
    }

    100% {
        top: -100%;
        right: -75%;
    }
}

// @keyframes bottom-left {
//     0% {
//         bottom: -40%;
//         left: -30%;
//     }

//     50% {
//         bottom: -35%;
//         left: -25%;
//     }

//     100% {
//         bottom: -40%;
//         left: -30%;
//     }
// }

@keyframes bottom-left {
    0% {
        bottom: -100%;
        left: -75%;
    }

    50% {
        bottom: -80%;
        left: -70%;
    }

    100% {
        bottom: -100%;
        left: -75%;
    }
}

@keyframes changeBg {
    
    0% {
        background-color: $black;
    }

    50% {
        background-color: $dark;
        box-shadow: 5px 5px 10px 0px #000;                
    }   

    100% {
        background-color: $black;
        box-shadow: none;
    }
    
}