@import 'variables';

.bg-dark {
    background-color: $dark;
    color: $light;
}

.bg-dark-md {
    background-color: $dark-md;
    color: $light;
}

.bg-danger {
    background-color: $danger;
    color: $light;
}

.bg-info {
    background-color: $info;
    color: $light;
}

.bg-light {
    background-color: $light;
}

.bg-primary {
    background-color: $primary !important;
    color: $light;
}

.bg-accent {
    background-color: $accent;
    color: $light;
}

.bg-blue {
    background-color: $blue;
    color: $light;

}

.bg-blue-md {
    background-color: $blue-md;
    color: $light;
}

.bg-black {
    background-color: $black;
    color: $light;
}

.bg-black-light {
    background-color: $black-light;
    color: $light;
}

.bg-pitch-black {
    background-color: $pitch-black;
    color: $light;
}

.bg-purple {
    background-color: $purple;
    color: $light !important;
}

.bg-red {
    background-color: $red;
    color: $light;
}

.bg-right {
    right: -70%;
}

.bg-top {
    top: -90%;
}

.bg-left {
    left: -75%;
}

.bg-bottom {
    bottom: -75%;
}

.bg-top-right {
    top: -90%;
    right: -25%
}

.bg-bottom-left {
    bottom: -90%;
    left: -25%;
}


// .bg-top-right {
//     top: -35%;
//     right: -15%
// }

// .bg-bottom-left {
//     bottom: -40%;
//     left: -20%;
// }

img.glass-bg {  
    
    &-sm {
        

    }

    &-md {
        // height: auto;
    }
}