@import 'variables';

html[data-theme="dark"] {

    scroll-behavior: smooth;
    background-color: $black !important;    

    body {
        background-color: transparent;
        color: $grey;
    }

}

html {
    
    &::-webkit-scrollbar {
        width: 1rem;
        margin: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $black;
        border-radius: 10px;        
    }

    &::-webkit-scrollbar-thumb {
        // background: #FFFFFF;
        background: $scroll-track-color;
        box-shadow: $shadow-scroll;
        border-radius: 50px;
        width: 0.5rem;
    }
}

.container-fluid {
    padding: 0;
}

