@import 'variables';

body[data-theme="dark"] {

    scroll-behavior: smooth;
    background-color: $black !important;    

    // body {
        background-color: transparent;
        color: $grey;
    // }

}

html {
    
    &::-webkit-scrollbar {
        width: 0.5rem;
        // margin: 1rem;

        &:hover {
            
        }
    }

    &::-webkit-scrollbar-track {
        background: $black;
        border-radius: $border-radius;        
    }

    &::-webkit-scrollbar-thumb {
        // background: #FFFFFF;
        background: $scroll-track-color;
        box-shadow: $shadow-scroll;
        border-radius: 50px;
        // width: 0.1rem;

        &:hover {
            background: $blue-md;
        }

        transition: background 0.5s linear;
    }
}

.container-fluid {
    padding: 0;
}

