@import 'variables';

html[data-theme="dark"] {

    scroll-behavior: smooth;
    // color: $grey;
    background-color: $black-secondary !important;

    // * {
    //     background-color: $black-secondary;
    //     color: $grey !important;
    // }

    div, section {
        background: $black-secondary;
        color: $grey;  
    }

    p {
        // color: $light;
        background: transparent;
    }

}

html {
    // font-size: 16px !important;
    &::-webkit-scrollbar {
        width: 1rem;
        margin: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $black;
        border-radius: 10px;        
    }

    &::-webkit-scrollbar-thumb {
        // background: #FFFFFF;
        background: $scroll-track-color;
        box-shadow: $shadow-scroll;
        border-radius: 50px;
        width: 0.5rem;
    }
}

.container-fluid {
    // background: none;
    // background-color: transparent;
    padding: 0;
    // margin: 0;
}

