@import 'variables';
    
.form {

    &-group {
        margin-bottom: 1.5rem;
    }

    &-create {

        &-wrapper {

        }

        &-field {
            background: transparent !important;
            border: 0;
            border-bottom: 1px solid $purple;
            &::placeholder {
                color: $grey;
            }
            color: $light !important;

            &:focus {
                background: transparent;
            }
        }        

        &-input {

        }

        &-text {

        }

        &-select {            

            option {
                border: none;                
                box-shadow: none;                
                background-color: $blue-md;
                padding: 0.5rem;                
                color: $light;
            }
        }

        &-file {

            label {

                background: transparent;                
                border: 1px solid $purple;                
                color: $light;
                // border-radius: 0;
                    
                &::after {
                    background: $purple;
                    color: $light;                    
                    // border-radius: 0;
                }


            }

        }

        &-title {
            &-image {
                position: absolute;
            }
        }

        &-input-group {
            &-text {
                background-color: $purple;
                border: none;
                color: $light;                
            }
        }

    }

}