@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
    // font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

html, body {
    // font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;

}


a, strong, h1, h2, h3, h4, h5, h6 {
    background-color: transparent !important;
}

.text-500 {
    font-weight: 500;
}

.text-600 {
    font-weight: 600;
}

.text-700 {
    font-weight: 700;
}

.text-800 {
    font-weight: 800;
}

.text-red {
    color: $red
}

.text-light {
    color: $light
}

.text-dark {
    color: dark;
}

.text-dark-md {
    color: $dark-md;
}

.text-black {
    color: $pitch-black
}

.text-danger {
    color: $danger;
}

.text-warning {
    color: $warning;
}

.text-primary {
    color: $primary;
}

.text-blue {
    color: $blue !important;
}

.text-accent {
    color: $accent !important;
}

.text-blue-md {
    color: $blue-md;
}

.text-purple {
    color: $purple;
}

.text-secondary {
    color: $secondary;
}

.text-info {
    color: $info;
}

.text-transparent {
    color: transparent;
}

.text-gradient {

    // background: -webkit-linear-gradient(#eee, #333);
    background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-xs {
    font-size: 0.75rem;
}

.text-sm-sm {
    font-size: 1.15rem;
}

.text-sm-md {
    font-size: 1.25rem;
}

.text-sm-l {
    font-size: 1.5rem;
}

.text-sm {
    font-size: 1.75rem;
}

.text-md {
    font-size: 2rem;
}

.text-lg {
    font-size: 4rem;
}

.text-xl {
    font-size: 12rem;
}

.text-hero {
    font-size: 14rem;
    // line-height: 1rem;
    letter-spacing: 0.02em;
}


a {
    color: $grey;
    transition: color 0.15s ease;

    &.nav-link {
        // font-style: oblique;
        font-weight: 600;                
    }

    .nav-link:hover {
        color: #C850C0;
        transform: scale(1.1);
        transition: all 0.15s ease-in-out;
    
    }

}

.text-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    padding: 0.5rem;
    background: rgba(5, 5, 5, 0.6);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba( 11, 11, 11, 0.3 );
    // position: a;
}

