@import 'variables';
@import 'animation';

@media screen and (max-width: 600px) {

    .blogs-item-wrapper {
        width: 85%;
        min-height: 25vh;
    }

    ul.footer-list {
        text-align: center;             
        margin: auto !important;
        
        li {
            border-radius: 0;
            border-left: 0;
            border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
            padding: 0.45rem;
        }
    }

    .list-inverted {
        text-align: center;

        li {
            text-align: center !important;
            border-right: none !important;            
            border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
            border-radius: 0 !important;            
        }

        
    }
    

}

@media screen and (min-width: 600px) and (max-width: 767px) {
    
    .blogs-item-wrapper {
        width: 45%;
    }

    img.glass-bg {
        transform: scale(0.75);
    }

    .glass-wrapper-sm {
        img.glass-bg {
            transform: scale(0.5);            
        }

        .bg-top-right {
            right: -40%;
            top: -150%
        }

        .bg-bottom-left {
            left: -40%;            
            bottom: -150%;
        }
    }

    ul.footer-list {
        text-align: center;             
        margin: auto !important;
        
        li {
            border-radius: 0;
            border-left: 0;
            border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
            padding: 0.45rem;
        }
    }

    .list-inverted {
        text-align: center;

        li {
            text-align: center !important;
            border-right: none !important;            
            border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
            border-radius: 0 !important;            
        }

        
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .blogs-item-wrapper {
        width: 32%;
    }

    

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    
    .blogs-item-wrapper {
        width: 22%;
    }

    .index-list {
        li {
            padding-left: 1rem !important;
        }
    }

    .footer {
        li.index-list-item {
            padding-left: 1rem !important;
        }

        .list-inverted {
            li {
                padding-right: 1rem !important;
            }
        }
    }

}

@media screen and (min-width: 1200px) {
    
    .blogs-item-wrapper {
        width: 18%;
    }    

    .index-list {
        li {
            padding-left: 1rem !important;
        }
    }

    .footer {
        li.index-list-item {
            padding-left: 1rem !important;
        }

        .list-inverted {
            li {
                padding-right: 1rem !important;
            }
        }
    }


}

.nav-item {
    margin: auto 10px;
    padding: 0.5rem;
    align-items: baseline;
}

.clickable {
    cursor: pointer;
    font-weight: 600;
    color: $secondary;

    &:hover {
        color: $primary;
        transform: scale(1.1);
        transition: all 0.15s ease;
    }

    transition: color 0.15s ease;
}


.border {

    &-sm {
        border-width: 0.1px !important;
    }

    &-secondary {
        border-color: $secondary;

    }

    &-blue-md {
        border-color: $blue-md !important;
    }

    &-black-light {
        border-color: $black-light !important;
    }

    &-purple {
        border-color: $purple !important;
    }

    &-accent {
        border-color: $accent !important;
    }

    &-primary {
        border-color: $primary !important;
    }
}

.badge {

    
    &-suggestions {
        font-size: 0.9rem ; 
        // border: 1px solid rgba( 255, 255, 255, 0.18 );
        border: $border-light;

        &:hover {
            background-color: $blue !important;
        }

    }

    &-primary {

        background-color: $primary !important;
    }

    &-black {

        background-color: $black !important;
    }

    &-black-light {

        background-color: $black-light !important;
    }

    &-secondary {
        background-color: $secondary !important;
        color: $black !important;
    }

    &-blue {
        background-color: $blue !important;
    }

    &-danger {
        background-color: $danger !important;
    }

    &-accent {

        background-color: $accent !important;
    }

    &-blue-md {
        background-color: $blue-md !important;
    }

    &-purple {
        background-color: $purple !important;
    }

    &-warning {
        background-color: $warning !important;
        color: #000 !important;
    }

    &-info {
        background-color: $info !important;
        color: #000 !important;
    }
    

    a:hover {
        color: $light;        
        text-decoration: none;
        transition: all 0.15s ease;
    }

}

.suggestions {
    &-pill {

        &-container {
            max-height: 5rem;
        }

        &-wrapper {
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

.index-list {    

    margin: 2rem auto;
    padding: 1rem 0.5rem;
    background-color: $dark-md;
    border-radius: 10px;

    &-item {
        list-style-type: none;
        list-style-position: inside;
        color: $primary;     
        margin: 0.5rem 0.25rem;
        border-left: 1px solid rgba( 255, 255, 255, 0.18 );
        // padding:  0.45rem 0.35rem 0.45rem 0.8rem;
        padding: 0.45rem 0.35rem !important;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: transparent;

        &:hover {
            color: $blue;            
            border-color: $blue;
            background: $black;
            // box-shadow: 5px 5px 10px 0px #000;                

            a {
                color: $blue !important;
                font-size: 104%;
                text-decoration: none;
            }

            transition: all 0.45s ease;

        }

        a {
            color: $primary !important;
        }

        // a:hover {
        //     color: $blue !important;
        //     font-size: 103%;            
        //     text-decoration: none;                                                
        //     transition: all 0.35s ease;
        // }
    }

}



.footer {
    border-top: 1px solid $black-light;
    padding: 3rem 2rem;
    margin-top: 3rem;    
    background-color: $dark-md !important;
    box-shadow: $shadow;

    // div {
    //     background-color: transparent !important;
    // }

    ul.footer-list {
        background-color: transparent;
        margin: 1rem auto 1rem 0;
        padding-left: 0;
        width: 75%;

        li {
            padding-left: 1rem;
        }
    }
}

.list-inverted {
    margin: 1rem 0 1rem auto !important;
    // margin: auto;
    li {
        width: 100%;
        border-right: 1px solid rgba(255, 255, 255, 0.18);
        border-left: none;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        text-align: right;        
        padding-right: 1rem !important;
    }
}

.divider {
    height: 0px;
    background-color: rgba($blue, 0.5);

}

.blur-img
{
    position: absolute;
    filter: blur(100px);
}

.pos {

    &-top {
        top: -40%;        
    }

    &-bottom {
        bottom: -40%;
    }

    &-left {
        left: -25%;
    }

    &-right {
        right: -25%;
    }
}


.overlay {
    // display: flex;
    // flex-direction: column;
    // margin: auto;
    // min-height: 100%;
    // min-width: 100%;
    // background: rgba(11, 11, 11, 0.1);
    // position: absolute;
}

.gradient {
    

    &-bg{
        background-color: #4158D0;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }

    &-container {

    }

    &-wrapper {
        padding: 0;
        border-radius: $border-radius;
        box-shadow: $shadow;
        min-height: 30vh;
    }

}


.rotate {

    &-left {
        transform: rotateZ(90deg);
    }

    &-right {
        transform: rotateZ(-90deg);
    }

}

.full-view {
    min-height: 50rem;
}

.share  {

    &-links {
        display: flex;
        
        ul {
            margin: auto;
        }

    }

    &-icon {
        border: $border-light;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.25rem;
        background-color: $black-light;

        &:hover {
            background-color: $purple;
        }

        transition: background-color 0.35s ease;
    }
}